<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WonderWidget WonderLab</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>

    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="static/js/script.js"></script>  
</head>
<body>
   
    
    <script src="static/js/wonderwidget.js"></script>
    <script src="static/js/wonderlab.js"></script>
    <script src="static/js/sidewidget.js"></script>
    <script src="static/js/headerwidget.js"></script>
    <script src="static/js/footerwidget.js"></script>
    <script src="static/js/imagewidget.js"></script>
    <script src="static/js/chatwidget.js"></script>
    <script src="static/js/botwidget.js"></script>
    <script src="static/js/promptwidget.js"></script>
    <script src="static/js/taskwidget.js"></script>
    <script src="static/js/widgetbox.js"></script>

</body>
</html>
